@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
/* importacion de la fuente Robot en google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;300;500;700&display=swap');
/* importacion otra fuente */
@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf");
  font-family: 'Polar';
}
:root{
    --cimel1:#85c2a2;
    --cimel2:#30553B;
    
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}
.sep{
  padding: 60px 0;
  min-height: 300px;
}

/* -- nav -- */
.container-fluid{
  /* img logo */

}
.navcont{
  background: rgb(56, 56, 56);
}
.navbar{
  padding: 1rem 3rem;
}
.navbar-collapse {
  padding: 7px 0;
}
.nav-rule{
  padding: 0 0 3px;
}
#navbarSupportedContent > ul > li:nth-child(n) > a{
  color: #fff;
  font-weight: 300;
  padding: 0 0.8rem;
}
#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
  color: rgb(204, 17, 17);
  font-weight: 400;
  padding: 0 0.9rem;
}

/* -- */
.img--st{
  width: 100%;
  object-fit: cover;
  height: 60vh;
}
/* -- */
.txt--info{
  text-align: center;
  padding: 30px;
}
.txt--info h2{
  font-size: 30px;
  font-weight: 400;
}

/*  */

.proyect-inf{

}

.txt-proyect-inf h1{
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: #030303a6;
}
.section-heading{
  text-align: center;
  font-size: 64px;
  color: #5f6b67;
  margin: 0 0 70;
}
.container_team{
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}
.profile{
  position: relative;
  transition: all 0.3s;
}
.profile:hover{
  transform: translateY(25px);
}
.profile img{
  max-width: 130%;
  padding: 0 80px;
  cursor: pointer;
  margin-bottom: 90px;
}
.profile img:hover{
  filter: drop-shadow(-20px 0 10px rgba(92, 92, 92, 0.1));
  cursor: pointer;
}
.profile:not(:first-child) img{
  margin-left: -20px;
}
.profile .name{
  position: absolute;
  background-color: #129b6d;
  color: #fff;
  padding: 15px 30px;
  border-radius: 100px;
  bottom: -30px; 
  left: 60%;
  white-space: nowrap;
  transform: translate(-50%, -50px);
  letter-spacing: 1px;
  font-size: 20px;
  opacity: 0;
  transition: all 0.3s;
}
.profile .name::before{
  content: "";
  position: absolute;
  width: 15px; 
  height: 15px;
  background-color: #30553B;
  top: 0; left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.profile img:hover + .name{
  opacity: 1;
  transform: translateX(-50%);
  box-shadow: 0 10px 20px rgb(86, 86, 198, 0.3);
}
/* Slider and txt */
#preview{
  background: #030303a6;
  padding: 40px;
  box-shadow: 10px 2px 14px #1a1a1a;
}
.cont-txt-slider{
  padding: 40px;
  position: relative;
  margin-top: 20px;
}
.cont-txt-slider h1{
  font-size: 7vh;
  color: #fff;
  margin-bottom: 30px;
}
.cont-txt-slider p{
  font-size: 18px;
  color: #1a1a1a;
  font-weight: 600;
}

/* txt and Cards */
.cont--img__Pdestac{
  display: flex;
  justify-content: center;
}
.img1__Pdestac{
  width: 100%;
  padding: 20px 0;
}
.txt--proyectoD h1{
  color: #000;
  padding: 1em 0 20px;
  font-size: 1.5em;
}